@import 'normalize';
@import 'colors';
@import 'fonts';

.modal-background {
    background-color: transparentize(lightgray, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 998;
    display: none;
    &.open {
      display: block;
    }
  }
  .modal {
    display: none;
    z-index: 999;
    background-color: $light;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    &.open {
      display: block;
    }
  }
  .modal-html-content {
    display: none;
    text-align: center;
  }
  .modal-footer {
    display: flex;
    justify-content: center;
  }  
  .form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid $dark;
  
    input {
      margin: 16px auto;
      width: 200px;
      height: 45px;
      border-radius: 10px;
      text-align: center;
      font-size: 16px;
      outline: none;
    }
  }
  
  .accept-button {
    background: $main-color;
    font-family: $special-font;
    width: 90px;
    height: 35px;
    color: $light ;
    margin-top: 20px;
    box-shadow: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid $light;
    transform: translate(-50%, -50%);
  
    &:hover {
      background-color: $light;
      color: black;
      border: 2px solid $main-color;
    }
  }
  
  .cancel-button {
    background: $alert;
    font-family: $special-font;
    margin-left: 25px;
    width: 90px;
    height: 35px;
    color: $light;
    box-shadow: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    transform: translate(215%, -10%);
    border: 1px solid $light ;
    transform: translate(50%, -50%);
  
    &:hover {
      background-color: $light;
      color: $dark;
      border: 2px solid $alert;
    }
  }