@import 'normalize';
@import 'colors';
@import 'fonts';
@import 'modal';

body{
  font-family: $default-font;
  min-height: 100vh;
}
table {
  border-collapse: collapse;
  width: 90%;
  margin: 16px auto;
  text-align: center;
  border: 2px solid $dark;
  font-size: 16px;

  th {
    height: 55px;
    background-color: $main-color;
    color: $light;
  }

  th, td {
  border: 2px solid $dark;
  }

  tr:nth-child(even) {
    background-color: $light;
  }

  td{
    font-size: 16px;
    width: 20%;
  }
}

button {
  outline: none;
  text-align: center;
}

#add-item {
  background: $main-color;
  width: 200px;
  height: 55px;
  color: $light;
  border-radius: 10px;
  margin-left: 5vw;
  box-shadow: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid $light;

  &:hover {
    background-color: $light;
    color: $dark;
    border: 3px solid $main-color;
  }
}

.delete-btn {
  background-color: $alert;
  width: 60px;
  height: 30px;
  color: $light;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  margin: 2px auto;
  border: 2px solid $light;

  &:hover {
    background-color: $light;
    color: black;
    border: 2px solid $alert;
  }
}

.update-btn {
  background-color: $main-color;
  width: 60px;
  height: 30px;
  color: $light;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  margin: 2px auto;
  border: 2px solid $light;

  &:hover {
    background-color:$light;
    color: $dark;
    border: 2px solid $main-color;
  }
}