@import 'normalize';
@import 'colors';
@import 'fonts';
@import 'modal';

body{
  font-family: $default-font;
}

table {
  border-collapse: collapse;
  width: 100%;
  th, td {
    border: 1px solid #aaaaaa;
  }
}
